/* EL ESTILO ES MINIMALISTA, POR ESTA RAZON UTILIZAMOS COMO BASE LOS COLORES DE BLANCO Y NEGRO PUROS Y 
   NOS APOYAMOS DEL AZUL COMO COLOR DE CONTRASTE
*/

/* BASE COLORS */
$color-white: #ffffff;
$color-white: #000000;

/* BLUE COLORS */
$color-blue-10:#767DDF ;
$color-blue-20: #5F68D9;
$color-blue-30: #4852D4 ;
$color-blue-40: #313DCE;

$color-blue-50: #1A27C9;

$color-blue-60: #0A1051;
$color-blue-70: #080C3D;
$color-blue-90: #030414;

/* NEUTRAL COLORS */
$color-neutral-10: #ECEDF0;
$color-neutral-20: #DFE1E6;
$color-neutral-30: #D0D3DA;
$color-neutral-40: #C0C4CD;

$color-neutral-50: #AEB3BF;

$color-neutral-60: #99A0AF;
$color-neutral-70: #828A9B;
$color-neutral-80: #656D7F;
$color-neutral-90: #3A3F4B;
$color-neutral-100: #181B20;