/* EL ESTILO ES MINIMALISTA, POR ESTA RAZON UTILIZAMOS COMO BASE LOS COLORES DE BLANCO Y NEGRO PUROS Y 
   NOS APOYAMOS DEL AZUL COMO COLOR DE CONTRASTE
*/
/* BASE COLORS */
/* BLUE COLORS */
/* NEUTRAL COLORS */
@font-face {
  font-family: "Thunder-BlackLc";
  src: url("/src/assets/fonts/Thunder-BlackLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BlackLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-BoldLc";
  src: url("/src/assets/fonts/Thunder-BoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ExtraBoldLc";
  src: url("/src/assets/fonts/Thunder-ExtraBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ExtraBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-Lc";
  src: url("/src/assets/fonts/Thunder-LC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-LightLc";
  src: url("/src/assets/fonts/Thunder-LightLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LightLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-MediumLc";
  src: url("/src/assets/fonts/Thunder-MediumLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-MediumLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-SemiBoldLc";
  src: url("/src/assets/fonts/Thunder-SemiBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-SemiBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ThinLc";
  src: url("/src/assets/fonts/Thunder-ThinLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ThinLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.footer {
  background-color: #1A27C9;
  font-family: "Thunder-Lc", san-serif;
  color: white;
  padding: clamp(5rem, 3.8967rem + 4.9037vw, 8.31rem) clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
}
.footer__top__title {
  padding-top: clamp(0.93rem, 0.5967rem + 1.4815vw, 1.93rem);
  line-height: 4rem;
}
.footer__form {
  padding-top: clamp(2.06rem, 0.52rem + 6.8444vw, 6.68rem);
  max-width: 1450px;
}
.footer__form__elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(1.3rem, -2.975rem + 19vw, 7rem);
  flex-wrap: wrap;
}
.footer__form__elements label {
  font-size: clamp(0.875rem, 0.5938rem + 1.25vw, 1.25rem);
}
.footer__form__elements input, .footer__form__elements textarea {
  border: none;
  border-bottom: 1px solid white;
  width: clamp(11.31rem, 5.22rem + 27.0667vw, 19.43rem);
  color: white;
  font-size: 1rem;
}
.footer__form__elements__name, .footer__form__elements__tipo, .footer__form__elements__email {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.footer__form__elements__mensaje input {
  margin-top: clamp(1.43rem, 1.18rem + 1.1111vw, 2.18rem);
  background-color: white;
  color: black;
  width: 16rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__form__elements textarea {
  height: 5rem;
}
.footer__info {
  padding-top: clamp(4rem, 0.25rem + 16.6667vw, 9rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 32rem));
  gap: 1rem;
}
.footer__info__text {
  font-size: 1rem;
}
.footer__info__politicas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer__info__dir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer__info__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
.footer__info__redes__img {
  max-width: 1.55rem;
}

@media screen and (max-width: 815px) {
  .footer__info__dir, .footer__info__redes {
    justify-content: left;
  }
}
