/* EL ESTILO ES MINIMALISTA, POR ESTA RAZON UTILIZAMOS COMO BASE LOS COLORES DE BLANCO Y NEGRO PUROS Y 
   NOS APOYAMOS DEL AZUL COMO COLOR DE CONTRASTE
*/
/* BASE COLORS */
/* BLUE COLORS */
/* NEUTRAL COLORS */
@font-face {
  font-family: "Thunder-BlackLc";
  src: url("/src/assets/fonts/Thunder-BlackLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BlackLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-BoldLc";
  src: url("/src/assets/fonts/Thunder-BoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ExtraBoldLc";
  src: url("/src/assets/fonts/Thunder-ExtraBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ExtraBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-Lc";
  src: url("/src/assets/fonts/Thunder-LC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-LightLc";
  src: url("/src/assets/fonts/Thunder-LightLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LightLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-MediumLc";
  src: url("/src/assets/fonts/Thunder-MediumLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-MediumLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-SemiBoldLc";
  src: url("/src/assets/fonts/Thunder-SemiBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-SemiBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ThinLc";
  src: url("/src/assets/fonts/Thunder-ThinLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ThinLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.proceso {
  padding: clamp(4rem, 2rem + 8.8889vw, 10rem) clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
  display: flex;
  flex-direction: column;
}
.proceso__info {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: clamp(1.12rem, 0.0767rem + 4.637vw, 4.25rem);
  gap: clamp(1rem, -0.8733rem + 8.3259vw, 6.62rem);
}
.proceso__info__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(0.5rem, -3.6433rem + 18.4148vw, 12.93rem);
}
.proceso__info__row__text {
  width: clamp(14.87rem, 11.7033rem + 14.0741vw, 24.37rem);
}
.proceso__info__row__title {
  width: clamp(10.25rem, 5.0233rem + 23.2296vw, 25.93rem);
  line-height: clamp(1.6rem, 0.8rem + 3.5556vw, 4rem);
}

@media screen and (max-width: 658px) {
  .proceso {
    background-color: #1A27C9;
    color: white;
  }
  .proceso__info__row {
    display: grid;
    gap: 0.5rem;
  }
}
