/* EL ESTILO ES MINIMALISTA, POR ESTA RAZON UTILIZAMOS COMO BASE LOS COLORES DE BLANCO Y NEGRO PUROS Y 
   NOS APOYAMOS DEL AZUL COMO COLOR DE CONTRASTE
*/
/* BASE COLORS */
/* BLUE COLORS */
/* NEUTRAL COLORS */
@font-face {
  font-family: "Thunder-BlackLc";
  src: url("/src/assets/fonts/Thunder-BlackLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BlackLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-BoldLc";
  src: url("/src/assets/fonts/Thunder-BoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-BoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ExtraBoldLc";
  src: url("/src/assets/fonts/Thunder-ExtraBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ExtraBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-Lc";
  src: url("/src/assets/fonts/Thunder-LC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-LightLc";
  src: url("/src/assets/fonts/Thunder-LightLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-LightLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-MediumLc";
  src: url("/src/assets/fonts/Thunder-MediumLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-MediumLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-SemiBoldLc";
  src: url("/src/assets/fonts/Thunder-SemiBoldLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-SemiBoldLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Thunder-ThinLc";
  src: url("/src/assets/fonts/Thunder-ThinLC.woff2") format("woff2"), url("/src/assets/fonts/Thunder-ThinLC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.proyectos {
  padding: clamp(4rem, 2rem + 8.8889vw, 10rem) clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
  display: flex;
  flex-direction: column;
}
.proyectos__view {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(1rem, -0.1667rem + 5.1852vw, 4.5rem);
  padding-top: clamp(2rem, 1.5433rem + 2.0296vw, 3.37rem);
}
.proyectos__view__img {
  width: 55%;
}
.proyectos__view__img__2, .proyectos__view__img__3 {
  display: none;
}
.proyectos__view__info {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.proyectos__view__info__element1, .proyectos__view__info__element2, .proyectos__view__info__element3 {
  border-bottom: 1px solid #C0C4CD;
  height: clamp(5.93rem, 4.99rem + 4.1778vw, 8.75rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(3.81rem, 1.79rem + 8.9778vw, 9.87rem);
  line-height: 1rem;
}
.proyectos__view__info__element1:hover, .proyectos__view__info__element2:hover, .proyectos__view__info__element3:hover {
  background-color: #1A27C9;
  color: white;
}

@media screen and (max-width: 658px) {
  .proyectos__view {
    flex-direction: column;
  }
  .proyectos__view__img {
    width: 80%;
  }
  .proyectos__view__info {
    width: 80%;
  }
}
