.nav{
    padding: 0 clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
    border-bottom: 1px solid #D0D3DA;
    height: clamp(1.75rem, 1.1458rem + 2.6852vw, 3.5625rem);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;

    &__brand{        
        padding-left: clamp(1.875rem, 0.3333rem + 6.8519vw, 6.5rem);            

        &__text{                
            font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
            font-family: "MediumLc" , san-serif;
            font-weight: bold;
        }

    }

    &__links{            
        font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);  
        padding-right: clamp(1.875rem, -0.8333rem + 12.0370vw, 10rem);
        display: flex;
        flex-direction: row;
        justify-content: right;            
        align-items: center;
    }

    &__list{    
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }    

    &__toggle, &__list__elementx{
        display: none;
        width: 17px;
    }

}

@media screen and (max-width: 817px) {

    .nav{
        grid-template-columns: 82% 20%;        

        &__toggle{
            display: block;            
        }  

        &__links{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background: #1A27C9;        
        overflow: hidden;
        z-index: 1;
        }        

        &__list{
            font-size: clamp(2rem, 0.5744rem + 6.7086vw, 4rem);
            color: #ffffff;
            display: flex;            
            flex-direction: column;
            gap: .2rem;
            text-align: center;

            &__elementx{            
                position: fixed;
                top: 1rem;
                right: 6rem;
            }
        }
    }
}