.nav{
    padding: 0 clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
    border-bottom: 1px solid #D0D3DA;
    height: clamp(1.75rem, 1.1458rem + 2.6852vw, 3.5625rem);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;

    &__brand{        
        padding-left: clamp(1.875rem, 0.3333rem + 6.8519vw, 6.5rem);            

        &__text{                
            font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
            font-family: "MediumLc" , san-serif;
            font-weight: bold;
        }

    }

    &__links{            
        font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);  
        padding-right: clamp(1.875rem, -0.8333rem + 12.0370vw, 10rem);
        display: flex;
        flex-direction: row;
        justify-content: right;            
        align-items: center;
    }

    ///Como arreglarlo
    &__link1, &__link2{                        
        margin-right: 1.5rem;       
    }

    &__toggle, &__x{
        display: none;
    }


}

@media screen and (max-width: 815px) {

    .nav{
        grid-template-columns: 82% 20%;


        &__links{
        display: none;
        }

        &__toggle{
        display: flex;
        }  

        &__mobile{
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background: #1A27C9;

        &__links{
            font-size: 2rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align: center;
        }

        &__lines {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: right;
        }
        
        &__lines__1 {
            max-width: 1.5rem;
            height: 0.125rem;
            margin-bottom: 0.27rem;
            background-color: #000000;
        }
        
        &__lines__2 {
            max-width: 1rem;
            height: 0.125rem;
            background-color: #000000;
        }
        
        &__linesX {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: right;
            position: fixed;
            top: 14px;
            right: 52px;
        }

        &__linesX__1 {
            width: 1rem;
            height: 0.125rem;
            background-color: #ffffff;
            transform: translate3d(0px, 2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
        }
        
        &__linesX__2 {
            width: 1rem;
            height: 0.125rem;
            background-color: #ffffff;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
        }

    }

    }
}