@use "../base/colors" as c;
@use "../base/font-faces" as ff;

.proceso{
    padding: clamp(4rem, 2.0000rem + 8.8889vw, 10rem) clamp(1.875rem, 0.2083rem + 7.4074vw, 6.875rem);
    display: flex;
    flex-direction: column;

    &__info{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: clamp(1.12rem, 0.0767rem + 4.6370vw, 4.25rem);
        gap: clamp(1rem, -0.8733rem + 8.3259vw, 6.62rem);

        &__row{            
            display: flex;
            flex-direction: row;            
            align-items: center;
            gap: clamp(0.5rem, -3.6433rem + 18.4148vw, 12.93rem);

            &__text{
                width: clamp(14.87rem, 11.7033rem + 14.0741vw, 24.37rem);                                
            }

            &__title{
                width: clamp(10.25rem, 5.0233rem + 23.2296vw, 25.93rem);                
                line-height: clamp(1.6rem, 0.8000rem + 3.5556vw, 4rem);
            }

        }

    }

}

@media screen and (max-width: 658px) {
    .proceso{
        background-color: c.$color-blue-50;
        color: white;
        &__info{

            &__row{
                display: grid;                                                
                gap: .5rem;
            }
        }

    }
}